/make_keytab_entry
/cleanup_keytab
/highest_kvno

/debian/ad-gmsa-programs
/debian/ad-gmsa-programs.substvars
/debian/ad-gmsa-programs.*.debhelper
/debian/ad-gmsa-programs.debhelper.*
/debian/debhelper-build-stamp
/debian/.debhelper
/debian/files
