Source: ad-gmsa
Section: python
Priority: optional
Maintainer: Michael Tran <mike_tran@live.com>
Build-Depends: debhelper (>= 12.1.1), dh-virtualenv (>= 0.8), dh-python (>= 3.20190308), python3
Standards-Version: 4.3.0

Package: ad-gmsa
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${python3:Depends}, ${misc:Depends}, ldap-utils (>= 2.4.47), adduser, ad-gmsa-programs (>= 0.0.1)
Description: Update keytabs for Microsoft AD gMSA accounts
 Update Kerberos keytabs based on Microsoft Active Directory group managed
 service accounts

